 * {
     margin: 0%;
     padding: 0%;
 }

 /* div p{
    background-color: aqua;
 } */
 /* div > p { {

 } */
 /* div section p {
     background-color: aqua;
 } */
 /* div {

     section {
         p {
             background-color: aqua;
         }
     }
 } */
 a:link{
    background-color: aqua;
    text-decoration: none;
    
   
 }
 
 a:visited{
    background-color: black;
    color: white;
 }
 a:hover{
    background-color: red;
 }
 a:active{
    background-color: blue;
    color: black;
 }
 input:focus{
    background-color: aqua;
 }
 input:invalid{
    background-color: red;
 }
 input:valid{
    background-color: white;
 }
 input:checked{
    height: 50px;
    width: 50px;

 }
 /* p:first-child{
    background-color: blue;
 }
 p:last-child{
    background-color: aqua;
 } */
 /* p:nth-child(1){
    background-color: aqua;
 } */
 p:nth-last-child(2){
    background-color: aqua;
 }
 
 
 