* {
    padding: 0;
    margin: 0;
}

.eesha {
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    position: absolute;
    animation-name: move;
    animation-duration: 5s;
    animation-delay: 1s;
    /* animation-iteration-count: 2; */
    /* animation-direction: reverse; */
    /* animation-fill-mode:forwards; */


}

@keyframes move {

    /* from{
        top: 0;
        left: 0%;
    }
    to{
        top: 50%;
        left: 50%;
        background-color: brown;
        rotate: 180deg;
    } */
    0% {
        top: 0%;
        left: 0%;
    }

    25% {
        top: 0%;
        left: 90%;
        background-color: aqua;
    }

    50% {
        top: 80%;
        left: 90%;
        background-color: bisque;
    }

    100% {
        top: 80%;
        left: 0%;
        background-color: pink;
        rotate: 180deg;
    }
}

.tracking-in-expand-fwd-top {
    -webkit-animation: tracking-in-expand-fwd-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    font-size: 39px;
    text-align: center;
    margin-top: 30%;
    font-weight: bolder;
}

@-webkit-keyframes tracking-in-expand-fwd-top {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(-500px);
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@keyframes tracking-in-expand-fwd-top {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(-500px);
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

.pagination {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);


    & ul li {
        display: inline-block;
        margin: 0px 20px;

        padding: 10px;
        border-radius: 20px;
    }

    & ul li:hover:not(.active) {
        background-color: gainsboro;
    }

    a {
        text-decoration: none;
        color: black;
    }
}


.active {
    background-color: cadetblue;
}